// 修改primary按钮默认背景色
.ant-btn-primary {
  background-color: $baseColor !important;

  + :not(:disabled):hover {
    background-color: $baseColor !important;
  }
}
.ant-btn {
  + :not(:disabled):focus-visible {
    outline: 0;
    outline-offset: 0;
  }

  + .ant-btn-loading {
    opacity: 1;
  }
}

//search input
.search-input {
  &:hover,
  &:focus {
    border-color: #fff !important;
  }
}

//修改二维码表框
.ant-qrcode {
  border-color: #e5e5e5;
  border-radius: 12px;
  padding: 20px;

  canvas {
    width: 230px !important;
    height: 230px !important;
  }
}
//修改起泡卡片

.ant-popover.cooperate {
  width: 265px;
  top: 40px !important;
  .ant-popover-arrow {
    left: 82% !important;
  }
  .ant-popover-title {
    color: $title1 !important;
  }

  .ant-popover-inner-content {
    color: $title2 !important;
    font-size: 14px;
  }
}

//新增、修改知识库弹窗
.upload-file-modal {
  .ant-modal-content {
    background: #ffffff;
    padding: 0;
    height: 430px;
    display: flex;
    flex-direction: column;
  }

  .ant-modal-header {
    height: 48px;
    line-height: 48px;
    background: #f7f9ff;
    border-radius: 8px 8px 0px 0px;
    padding: 12px 0 12px 28px;
    margin-bottom: 0;
  }

  .ant-modal-body {
    height: calc(100% - 36px - 48px - 28px);
    padding: 20px 28px;
    // overflow: auto;
  }

  .ant-modal-footer {
    margin: 0;
    padding-right: 28px;
    .ant-btn {
      height: 36px;
      width: 84px;
    }
  }

  .ant-modal .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
    margin-inline-start: 16px;
  }

  .ant-btn-primary[disabled] {
    background-color: rgba(90, 71, 229, 0.5) !important;
    color: #fff !important;
  }

  .ant-input:focus,
  .ant-input-focused {
    border-color: #5a47e5 !important;
  }

  .ant-input-affix-wrapper-focused {
    border-color: #5a47e5 !important;
  }
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #5a47e5 !important;
  }

  .ant-input:focus,
  .ant-input-focused,
  .ant-input:hover,
  .ant-input-active {
    caret-color: #5a47e5;
  }
}

//input focus style
.ant-input {
  color: $title1;
}
.ant-input:focus,
.ant-input-focused {
  border-color: #373b4d !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #373b4d !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #373b4d !important;
}
