$grey1: #212327;
$grey2: #898a8e;
$grey2: #898a8e;
$grey3: #c4c5c7;
$grey4: #f5f6f8;

$blue1: #1890ff;
$blue1-hover: #40a9ff;

$red2: #ffe8ea;
$red3: #fff4f5;

$other1: #ffbc11;
$other2: #3a89ff;

$navSiderWidth: 260px;
$operationWrapperHeight: 160px;

$zIndex-9999: 9999;

$blue1: #1890ff;
$leftSideHeight: 240px;
$topSideHeight: 64px;

$fontSize20: 20px;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize12: 12px;

$color_main_1: #fb4a3e;
$color_main_2: #4d71ff;
$color_pc_bg_2:#F5F7FA;

$color_main_hover1: #E8493F;
$color_main_hover2: rgb(77 ,113 ,255 , 0.06);
// $color_pc_bg_hover2:#F5F7FA;

$color_main_disable1: #C8C9CC;
$color_main_disable2: #DCDFE6;
// $color_pc_bg_disable2:#F5F7FA;

$color_text_1: #2a2b2e;
$color_text_2: #626469;
$color_text_5: #c8c9cc;
