.venv
.vscode
.idea
.env
user.config
venv
__pycache__
QANY_DB
qanything_logs
debug_logs
qa_logs
*.lock
api.log
front_end/dist
node_modules
models
volumes
*.log
front_end/yarn.lock
front_end/package-lock.json
front_end/.eslintrc-auto-import.json
front_end/auto-imports.d.ts
front_end/components.d.ts
front_end/stats.html
front_end/version.txt
tmp_files/
