concurrent-log-handler==0.9.25
boto3==1.34.79
sanic==23.6.0
sanic_ext==23.6.0
langchain-core==0.1.50
langchain==0.1.9
unstructured==0.12.4
unstructured[pptx]==0.12.4
unstructured[md]==0.12.4
opencv-python==4.6.0.66
python-dotenv==1.0.1
mysql-connector-python==8.2.0
pymilvus==2.3.6
langchain-openai==0.0.8
aiomysql==0.2.0
PyMuPDFb==1.24.3  #
openpyxl==3.1.2
networkx==3.2.1
python-docx==1.1.0
newspaper4k==0.9.3.1
newspaper4k[zh]
duckduckgo-search==5.3.0b4
html2text==2024.2.26
fsspec==2024.3.1
mistune==3.0.2
flair==0.13.0
nltk==3.8.1
transformers==4.34.1
# dspy-ai==2.1.1
pandas==2.1.1
scikit-learn==1.3.2
chardet==5.2.0
sentence-transformers==2.2.2
scipy==1.10.1
fastchat==0.1.0
wikipedia==1.4.0
Wikipedia-API==0.6.0
rouge-score==0.1.2
toml==0.10.2
tqdm==4.66.1
anthropic==0.25.7
streamlit==1.34.0
openai==1.13.4
zhipuai==2.0.1.20240429
langchain_elasticsearch==0.2.2
modelscope
onnxruntime
cryptography
shapely
pyclipper
frontend
xgboost
pdfplumber
PyPDF2
markdownify
datrie
hanziconv
lxml_html_clean