.g-bd {
  width: 400px;
  /* 组件默认padding */
}
.g-bd .m-header {
  display: none;
}
.g-bd .m-cnt {
  padding: 0;
}
.g-bd .m-cnt #login-form .m-container {
  position: relative;
}
.g-bd .m-cnt #login-form .m-container .u-tab {
  display: none;
}
.g-bd .m-cnt #login-form .m-container .inputbox {
  height: 46px;
  border-radius: 4px;
  border: 1px solid #f1f2f5;
}
.g-bd .m-cnt #login-form .m-container .inputbox .mbItlBox input.dlemail {
  padding-left: 70px;
  width: 285px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .mbItlBox .u-country::-webkit-scrollbar {
  width: 6px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .mbItlBox .u-country::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  height: 104px;
  border-radius: 4px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .mbItlBox .u-country::-webkit-scrollbar-track {
  padding-right: 6px;
  width: 10px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-logo {
  display: none;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input {
  margin-left: 2px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .pcin {
  padding-left: 18px;
  width: 220px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .country {
  left: 5px;
  width: 56px;
  background-position: -343px -340px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .country em {
  color: #2e2f33;
  font-size: 14px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input input {
  height: 45px;
  padding-left: 18px;
  width: 280px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .u-country {
  width: 398px;
  left: -3px;
  border: 1px solid #f1f2f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .u-country a {
  font-size: 14px;
  color: #2e2f33;
  line-height: 36px;
  height: 36px;
}
.g-bd .m-cnt #login-form .m-container .inputbox .u-input .u-country a:hover {
  background-color: #edf2ff;
  color: #4D71FF;
}
.g-bd .m-cnt #login-form .m-container .fur-change-email {
  height: 24px;
}
.g-bd .m-cnt #login-form .m-container .pcbtn {
  margin-left: 0;
}
.g-bd .m-cnt #login-form .m-container .pcbtn a {
  width: 102px;
  height: 46px;
  background-color: #fff;
  color: #4D71FF;
  border: 1px solid #f1f2f5;
  border-radius: 4px;
}
.g-bd .m-cnt #login-form .m-container .pcbtn a:hover {
  background-color: #fff;
}
.g-bd .m-cnt #login-form .m-container .active {
  border: 1px solid #f1f2f5;
}
.g-bd .m-cnt #login-form .m-container .m-pccnt .m-pcbox {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.g-bd .m-cnt #login-form .m-container .m-pccnt .m-pcbox .m-pc {
  width: 282px;
}
.g-bd .m-cnt #login-form .m-container .m-pccnt .error-color {
  border-color: #ff6583 !important;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 label {
  display: flex;
  align-items: center;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 .fur-agree {
  margin: 0 !important;
  padding: 0 !important;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 .fur-agree a {
  color: #4D71FF;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 .fur-change-email {
  height: 24px;
  line-height: 24px;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 .u-zc-agree {
  width: 24px;
  height: 24px;
  background: url('checkbox_bg.png') no-repeat center;
  background-size: 100% auto;
  border: none;
  margin: 0;
}
.g-bd .m-cnt #login-form .m-container .fur-agree-4 .u-zc-agree-select {
  background: url('ic_checkbox_select.png') no-repeat center !important;
  background-size: 100% auto !important;
}
.g-bd .m-cnt #login-form .m-container .loginbox {
  margin-bottom: 0;
}
.g-bd .m-cnt #login-form .m-container .loginbox .u-loginbtn {
  color: #fff;
  background-color: #4D71FF;
  border-radius: 4px;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin {
  position: absolute;
  top: 158px;
  z-index: 99;
  right: -37px;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin .b-unlogn {
  display: flex !important;
  align-items: center !important;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin .b-unlogn label {
  padding: 0 !important;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin .b-unlogn .u-checkbox {
  width: 24px !important;
  height: 24px !important;
  background: url('checkbox_bg.png') no-repeat center;
  background-size: 100% auto;
  border: none !important;
  margin: 0;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin .b-unlogn .u-checkbox-select {
  background: url('ic_checkbox_select.png') no-repeat center !important;
  background-size: 100% auto !important;
}
.g-bd .m-cnt #login-form .m-container .m-unlogin .forgetpwdReg {
  display: none;
}
